###############################################################################
# About this file
###############################################################################

# This file overrides various defaults defined in both
# ansible/playbooks/roles/common/defaults/main/chef.yml and in the chef
# attribute files found in chef/cookbooks/bcpc/attributes.
#
# Below is a sample file for your convenience.

chef_environment:
  name: cluster_name
  description: cluster_name_description
  json_class: Chef::Environment
  chef_type: environment
  override_attributes:
    bcpc:
      apache2:
        status:
          enabled: true
      calico:
        repo:
          url: http://some_calico_repo
          key: http://some_calico_repo_key
      cinder:
        backend_native_threads_pool_size: 20
        ceph:
          pool:
            size: 2
        qos:
          enabled: true
          volume_types:
            - name: ceph
              limits:
                # for fixed iops per volume
                read_iops_sec: 2000
                write_iops_sec: 1000
                # for burst iops per volume
                read_iops_sec_max: 4000
                write_iops_sec_max: 2000
                # for fixed bandwidth per volume
                read_bytes_sec: 1000000000
                write_bytes_sec: 500000000
                # for burst bandwidth per volume
                read_bytes_sec_max: 2000000000
                write_bytes_sec_max: 1000000000
                # for burst bucket size:
                size_iops_sec: 4096
      cloud:
        domain: "{{ cloud_domain }}"
        fqdn: "{{ cloud_fqdn }}"
        vip: "{{ cloud_ip }}"
      dns: "{{ dns }}"
      haproxy:
        qos:
          enabled: true
          exemptions:
            - 8.8.8.8/31
          slo_url: https://my_slo
      glance:
        ceph:
          pool:
            size: 2
      heat:
        enabled: true
