.DS_Store
.vagrant/
*.pyc
*.retry
*.swp
*.swo
assets/
ansible/inventory.yml
ansible/group_vars/all/overrides.yml
ansible/group_vars/all/chef_databags.yml
ansible/group_vars/all/chef_environment.yml
chef/roles/*node.json
chef/roles/bootstrap.json
chef/environments/
chef/databags/
virtual/files/ssh/id_*
virtual/packer/output-vagrant/*
virtual/packer/config/variables.json
virtual/packer/download/*
virtual/packer/config/s3.json
hardware.overrides.yml
topology.overrides.yml
