.DS_Store
.vagrant/
*.pyc
*.retry
*.swo
*.swp
ansible/group_vars/all/chef_databags.yml
ansible/group_vars/all/chef_environment.yml
ansible/group_vars/all/overrides.yml
ansible/inventory.yml
assets/
chef/databags/
chef/environments/
chef/roles/*node.json
chef/roles/bootstrap.json
virtual/files/ssh/id_*
virtual/packer/config/s3.json
virtual/packer/config/variables.json
virtual/packer/download/*
virtual/packer/output-vagrant*
virtual/topology/hardware.overrides.yml
virtual/topology/topology.overrides.yml
