###############################################################################
# managed by ansible
###############################################################################

nameserver 127.0.0.1
nameserver {{ cloud_ip }}
{% for ns in dns['servers'] %}
nameserver {{ ns }}
{% endfor %}

options timeout:1
