{{ chef_databags[1]['ssl']['key'] | b64decode }}{{ chef_databags[1]['ssl']['crt'] | b64decode }}{{ chef_databags[1]['ssl']['intermediate'] | b64decode if chef_databags[1]['ssl']['intermediate'] is not none }}
