{
  "bcc_apt_key_url": "",
  "bcc_apt_url": "",
  "kernel_version": "generic-hwe-18.04-edge",
  "base_box": "jeffnoxon/ubuntu-20.04-arm64",
  "base_box_version": "1.0.0",
  "base_box_provider": "parallels",
  "output_packer_box_name": "bcc-ubuntu-18.04"
}
