###############################################################################
# misc
###############################################################################

# the root of the source tree
root_dir: "{{ inventory_dir | dirname }}"

# username and password used to access bare metal machines
initial_ssh_user: ubuntu
initial_ssh_pass: 53cr37

# validate ssl cert (used by get_url)
validate_certs: true

###############################################################################
# ansible
###############################################################################

ansible_python_interpreter: /usr/bin/env python3
ansible_user: "{{ operator_username }}"
ansible_ssh_common_args: >
  -o StrictHostKeyChecking=no
  -o UserKnownHostsFile=/dev/null

###############################################################################
# additional_runlists
###############################################################################

#additional_runlists:
#  node:
#    - recipe[bcpc::default]
#  bootstrap:
#    - recipe[bcpc::default]

###############################################################################
# cloud
###############################################################################

cloud_ip: 10.65.0.254
cloud_domain: bcpc.example.com
cloud_infrastructure_domain: "{{ cloud_domain }}"
cloud_fqdn: "openstack.{{ cloud_domain }}"
cloud_region: "{{ chef_environment['name'] }}"

cloud_vars: "{{ {} | combine(
                      {
                        'chef': {
                          'environment': chef_environment,
                          'databags': chef_databags,
                          'roles': chef_roles
                        }
                      },
                      {
                        'cloud': {
                          'ip': cloud_ip,
                          'domain': cloud_domain,
                          'fqdn': cloud_fqdn,
                          'region': cloud_region
                        }
                      }
                    )
            }}"

###############################################################################
# cloud images
###############################################################################

cloud_images:
  - file_asset: cirros
    type: qcow2

all_cloud_images: "{{ cloud_images + additional_cloud_images | default([]) }}"

###############################################################################
# operator
###############################################################################

# cloud operator (os admin user)
# this is the user that will be added to each node in the cluster and given
# admin privileges
operator_username: operations
operator_group: operators

###############################################################################
# dns servers
###############################################################################

# list of external dns servers
dns:
  servers:
    - 8.8.8.8
    - 8.8.4.4

###############################################################################
# ntp servers
###############################################################################

# list of external ntp servers
ntp:
  servers:
    - time1.google.com
    - time2.google.com

###############################################################################
# local_proxy settings
###############################################################################

# configures a locally running http/https proxy service to handle multiple
# proxy endpoints.

local_proxy:
  enabled: false
  environment:
    http: http://proxy.example.com
    https: http://proxy.example.com
  config:
    listen: 127.0.0.1
    port: 8888
    upstream:
      - otherproxy.example.com ".google.com"
      - proxy.example.com # default proxy

###############################################################################
# chef
###############################################################################

chef_client:
  config: {}

chef_extra_cookbooks:
  - file_asset: logrotate

# all chef extra cookbooks
all_chef_extra_cookbooks: "{{ chef_extra_cookbooks +
                              additional_chef_extra_cookbooks | default([]) }}"

###############################################################################
# web server file assets
###############################################################################

web_server_assets:
  - file_asset: cirros
  - file_asset: etcd
  - file_asset: calicoctl
  - file_asset: consul
  - file_asset: etcd3gw

# all web server file assets
all_web_server_assets: "{{ web_server_assets +
                            additional_web_server_assets | default([]) }}"

###############################################################################
# external files (to be downloaded)
###############################################################################

assets_download_dir: "{{ root_dir }}/assets"

assets_files:
  - name: cirros
    url: http://download.cirros-cloud.net/0.4.0/cirros-0.4.0-x86_64-disk.img
    checksum: sha256:a8dd75ecffd4cdd96072d60c2237b448e0c8b2bc94d57f10fdbc8c481d9005b8
    filename: cirros-0.4.0-x86_64-disk.img

  - name: etcd
    url: https://github.com/etcd-io/etcd/releases/download/v3.3.10/etcd-v3.3.10-linux-amd64.tar.gz
    checksum: sha256:1620a59150ec0a0124a65540e23891243feb2d9a628092fb1edcc23974724a45
    filename: etcd-v3.3.10-linux-amd64.tar.gz

  - name: calicoctl
    url: https://github.com/projectcalico/calicoctl/releases/download/v3.19.3/calicoctl-linux-amd64
    checksum: sha256:e9d91036764ec24f32025c3176efb2c2673b9936270e6165fb6583cce97bc43f
    filename: calicoctl

  - name: consul
    url: https://releases.hashicorp.com/consul/1.7.2/consul_1.7.2_linux_amd64.zip
    checksum: sha256:5ab689cad175c08a226a5c41d16392bc7dd30ceaaf90788411542a756773e698
    filename: consul_1.7.2_linux_amd64.zip

  - name: chef_client
    url: https://packages.chef.io/files/stable/chef/14.13.11/ubuntu/18.04/chef_14.13.11-1_amd64.deb
    checksum: sha256:9ddcd5ceef19c95ecc1f34bef080c23d9cb42ae8ebc69fd41dcf1c768a6a708f
    filename: chef_14.13.11-1_amd64.deb

  - name: chef_server
    url: https://packages.chef.io/files/stable/chef-server/12.17.33/ubuntu/16.04/chef-server-core_12.17.33-1_amd64.deb
    checksum: sha256:2800962092ead67747ed2cd2087b0e254eb5e1a1b169cdc162c384598e4caed5
    filename: chef-server-core_12.17.33-1_amd64.deb

  - name: logrotate
    url: https://supermarket.chef.io/cookbooks/logrotate/versions/2.2.0/download
    checksum: sha256:f9385a488ec0ee02bfd680ac5aac012000006e4168f97bbf06b5b28373a1d1aa
    filename: logrotate-2.2.0.tar.gz

  - name: etcd3gw
    url: https://files.pythonhosted.org/packages/3b/1a/155c139adcf50c382f7ff8eb5a00b5aa725ee8ea438ec2b8109dfe67be9b/etcd3gw-0.2.6.tar.gz
    checksum: sha256:4a765a382ae18ebd4fccbc1388d1ac5226db0540bccd1f081052600df89145fd
    filename: etcd3gw-0.2.6.tar.gz

# all file assets
all_file_assets: "{{ assets_files + additional_assets_files | default([]) }}"

###############################################################################
# virtualbox
###############################################################################

virtualbox:
  nat_ip: 10.0.2.15

###############################################################################
# host aggregates
###############################################################################

host_aggregates: []

###############################################################################
# networking
###############################################################################

networking:
  mtu: 1500

use_primary_transit_interface: true
configure_service_ip: true
configure_network_interfaces: true

###############################################################################
# ubuntu apt sources.list
###############################################################################

ubuntu_apt:
  key_url: false
  pools:
    - main
    - restricted
    - universe
    - multiverse
  sources:
    - dist: bionic
      url: http://archive.ubuntu.com/ubuntu
    - dist: bionic-backports
      url: http://archive.ubuntu.com/ubuntu
    - dist: bionic-security
      url: http://security.ubuntu.com/ubuntu
    - dist: bionic-updates
      url: http://archive.ubuntu.com/ubuntu

###############################################################################
# bird
###############################################################################

bird:
  distribution:
    name: bionic-backports

###############################################################################
# grub
###############################################################################

grub_cmdline_linux: []

###############################################################################
# system configuration
###############################################################################

# Select desired I/O scheduler to be applied at startup (deadline, noop, cfq)
hardware_io_scheduler: deadline

# Select kernel NVMe multipath support.
# Disabling addresses the issue with controller vs. disk/device naming issues,
# providing consistent, deterministic device naming conventions.
hardware_nvme_multipath: false

# Select whether or not to load newer CPU microcode mitigations at runtime
# when possible (and when it is newer than what the BIOS firmware provides).
hardware_cpu_load_microcode: true

# If pin_version is true, pin to {{ version }}-{{ variant }}
# For example, {{ 5.0.0-32 }}-{{ lowlatency }}
# If pin_version is false, track linux-{{ variant }} upstream
# For example, linux-{{ generic-hwe-18.04 }}
kernel_pin_version: false
kernel_variant: generic-hwe-18.04-edge
kernel_version: ''

# Use this to *add* more reserved ports; i.e. modify value of
# net.ipv4.ip_local_reserved_ports
system_additional_reserved_ports: []

# Select IPv6 support.
system_enable_ipv6: false

# Any other sysctl parameters that are to be overidden
system_parameters_kernel.pid_max: 4194303
system_parameters_net.nf_conntrack_max: 262144

# Read-ahead value for all block devices, in kb
system_readahead_kb: 512
