listen placement-api
  bind {{ cloud_ip }}:8778 ssl crt /etc/haproxy/haproxy.pem
  balance source
  option httplog
  option forwardfor
  option httpchk GET /
  http-check expect status 200
{% for host in groups['headnodes'] %}
  server {{ host }} {{ hostvars[host]['interfaces']['service']['ip'] }}:8778 check inter 5s rise 1 fall 1
{% endfor %}

{% include haproxy_qos_path %}
