[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart={{ consul_executable }} agent $OPTIONS -config-dir={{ consul_config_directory }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
SyslogIdentifier=consul

[Install]
WantedBy=multi-user.target
