#!/bin/bash

# Copyright 2021, Bloomberg Finance L.P.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

set -e

# Check connectivity to ProxySQL's admin interface
mysqladmin status \
    --connect-timeout 10 \
    -u {{ chef_databags[1]['proxysql']['creds']['stats']['username'] }} \
    -p{{ chef_databags[1]['proxysql']['creds']['stats']['password'] }} \
    -h localhost \
    --protocol=TCP \
    -P {{ proxysql_admin_port }} 2> /dev/null

set +e

# Check connectivity via ProxySQL to a backend. Ideally this check will only
# fail when all MySQL backends have encountered an issue, and thus switching
# the primary will serve no purpose. However, as described in
# https://github.com/sysown/proxysql/issues/3618, ProxySQL has at least one
# bug that would require such a move.
#
# This check is forgiving because in a vast majority of cases ProxySQL will
# handle backend failures just fine. It is designed to catch scenarios like
# the one described in the bug report linked to above.
MAX_ATTEMPTS=3
ATTEMPTS=0
while ! mysql -nNE \
      --connect-timeout 10 \
      -u root \
      -p{{ chef_databags[1]['mysql']['users']['root']['password'] }} \
      -h localhost \
      --protocol=TCP \
      -P {{ proxysql_port }} \
      -e "SELECT VERSION();" 2> /dev/null ; do
    ((ATTEMPTS=ATTEMPTS+1))
    if [ ${ATTEMPTS} -ge ${MAX_ATTEMPTS} ]; then
        exit 1
    fi
    sleep 1
done
