{
  "services": [
    {
      "name": "mysql",
      "port": {{ myysql_port }},
      "enable_tag_override": true,
      "tags": [
        "mysql"
      ],
      "check": {
        "name": "mysql",
        "args": [
          "{{ consul_bcpc_directory }}/mysql-check"
        ],
        "interval": "{{ consul_services_interval }}",
        "timeout": "{{ consul_services_timeout }}"
      }
    },
    {
      "name": "proxysql",
      "port": {{ proxysql_port }},
      "enable_tag_override": true,
      "tags": [
        "proxysql"
      ],
      "check": {
        "name": "proxysql",
        "args": [
          "{{ consul_bcpc_directory }}/proxysql-check"
        ],
        "interval": "{{ consul_services_interval }}",
        "timeout": "{{ consul_services_timeout }}"
      }
    },
    {
      "name": "haproxy",
      "check": {
        "name": "haproxy",
        "args": [
          "{{ consul_bcpc_directory }}/haproxy-check"
        ],
        "interval": "{{ consul_services_interval }}",
        "timeout": "{{ consul_services_timeout }}"
      }
    },
    {
      "name": "dns",
      "check": {
        "name": "dns",
        "args": [
          "{{ consul_bcpc_directory }}/dns-check"
        ],
        "interval": "{{ consul_services_interval }}",
        "timeout": "{{ consul_services_timeout }}"
      }
    }
  ]
}
