{
  "watches": [
    {
      "service": "haproxy",
      "type": "checks",
      "args": [
        "{{ consul_bcpc_directory }}/cloud-ip-watch",
        "haproxy"
      ]
    },
    {
      "service": "mysql",
      "type": "checks",
      "args": [
        "{{ consul_bcpc_directory }}/service-elect-watch",
        "mysql"
      ]
    },
    {
      "service": "mysql",
      "type": "checks",
      "args": [
        "{{ consul_bcpc_directory }}/service-watch",
        "mysql"
      ]
    },
    {
      "service": "proxysql",
      "type": "checks",
      "args": [
        "{{ consul_bcpc_directory }}/service-elect-watch",
        "proxysql"
      ]
    },
    {
      "service": "proxysql",
      "type": "checks",
      "args": [
        "{{ consul_bcpc_directory }}/service-watch",
        "proxysql"
      ]
    },
    {
      "service": "dns",
      "type": "checks",
      "args": [
        "{{ consul_bcpc_directory }}/cloud-ip-watch",
        "dns"
      ]
    }
  ]
}
